.text-type {
  display: inline;
}

.text-type__content {
  white-space: pre-wrap;
}

.text-type__cursor {
  display: inline-block;
  margin-left: 0.08em;
}

.text-type__cursor--hidden {
  opacity: 0;
}
